@import '../../vars';

.buttonContainer {
    border: $BordersColor 4px solid;
    width: 50%;
    height: 50%;
    border-radius: 8px;
    aspect-ratio: 1/1;
    background-color: $MainBtnBg;
    padding: 12px;



    -webkit-box-shadow: -4px 4px 0px -2px $ShadowColor;
    -moz-box-shadow: -4px 4px 0px -2px $ShadowColor;
    box-shadow: -4px 4px 0px -2px $ShadowColor;
    transition: all 0.2s ease-in-out;


    &.deactivated {
        background-color: $InactiveBtnBg;
    }


}