@import '../../vars';

.buttonContainer {
    border: $BordersColor 4px solid;
    width: 50%;
    height: 50%;
    border-radius: 16px;
    aspect-ratio: 1/1;
    background-color: $MainBtnBg;
    padding: 12px;


    -webkit-box-shadow: -4px 4px 0px -2px $ShadowColor;
    -moz-box-shadow: -4px 4px 0px -2px $ShadowColor;
    box-shadow: -4px 4px 0px -2px $ShadowColor;
    transition: all 0.2s ease-in-out;


    &.deactivated {
        background-color: $InactiveBtnBg;
    }


}

.o {
    width: 100%;
    height: 100%;

    &.active {
        animation: symbolPress 0.8s forwards ease-in-out;
    }

    &.oActive {
        animation: gamePress 0.5s forwards ease-out;
    }
}

.x {
    width: 100%;
    height: 100%;

    &.active {
        animation: symbolPress 0.7s forwards ease-out;
    }


    &.xActive {
        animation: gamePress 0.5s forwards ease-out;
    }
}


@keyframes symbolPress {
    0% {
        scale: 1.0;
    }

    25% {
        scale: 0.8;
    }

    50% {
        scale: 1.5;
    }

    75% {
        scale: 1.0;
    }

    100% {
        scale: 1.3;
    }
}

@keyframes gamePress {
    0% {
        scale: 1.0;
    }

    25% {
        scale: 0.8;
    }

    50% {
        scale: 1.3;
    }

    75% {
        scale: 0.9;
    }

    100% {
        scale: 1.0;
    }
}