@import '../../vars';

.WaitingPage {
    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: center;

    padding-top: 150px;
}

.cod {
    text-align: center;
    letter-spacing: 20px;
    justify-content: center;
    position: relative;
    top: 10px;
    left: 6px;
    color: rgba(205, 205, 205, 1);
    font-size: 45px;
    -webkit-text-stroke: 3px $TitleTextBorderColor;
}