@import '../../vars';

.Button {
    color: $TitleTextColor;
    -webkit-text-stroke: $ButtonTextBorderColor 1px;
    font-size: 20px;
    background-color: $MainButtonBgColor;
    text-align: center;
    border-top: none;
    border-right: 3px solid $ButtonBorderColor;
    border-left: 3px solid $ButtonBorderColor;
    border-bottom: 5px solid $ButtonBorderColor;
    border-radius: 30px;
    margin-top:20px;
    margin-bottom:20px;
    width: 100%;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.8s;


}

.Button:hover {
    background-color: $ButtonBorderColor;
}

.Button:active {
    background-color: $ButtonActiveColor;
    transform: scale(0.99) translateY(0.2px);
}