.Button {
    color: white;
    background-color: rgba(252, 208, 21, 1);
    text-align: center;
    border-top: none;
    border-right: 1px solid rgba(251, 181, 0, 1);
    border-left: 1px solid rgba(251, 181, 0, 1);
    border-bottom: 2px solid rgba(251, 181, 0, 1);
    border-radius: 20px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.8s;
}

.Button:hover {
    background-color: rgba(251, 181, 0, 1);
}

.Button:active {
    background-color: rgba(178, 129, 0, 1); 
    transform: scale(0.9) translateY(2px); 
}
