@import '../../vars';

.wrapperContainer {
    margin-top: 50px; //TEMPORARY
    position: relative;
    margin-left: 16px;
    margin-right: 12px;
    border-radius: 20px;
    border: black 6px solid;
    -webkit-box-shadow: -10px 7px 0px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: -10px 7px 0px -2px rgba(0, 0, 0, 1);
    box-shadow: -10px 7px 0px -2px rgba(0, 0, 0, 1);
}

h1 {
    position: absolute;
    left: calc(50% - 16px);
    top: -5px;
    transform: translateY(-50%) translateX(calc(-50% + 16px));


    -webkit-text-stroke: 2px $TitleTextBorderColor;
    font-size: 32px;

    color: $TitleTextColor
}