@import '../../vars';

.wrapperContainer {
    // margin-top: 50px; //TEMPORARY
    background-color: $WrapperBgColor;
    position: relative;
    margin-left: 16px;
    margin-right: 12px;
    border-radius: 20px;
    border: $BordersColor 6px solid;
    -webkit-box-shadow: -10px 7px 0px -2px $ShadowColor;
    -moz-box-shadow: -10px 7px 0px -2px $ShadowColor;
    box-shadow: -10px 7px 0px -2px $ShadowColor;

    text-align: center;


    h2 {
        position: absolute;
        left: calc(50% - 16px);
        top: -5px;
        transform: translateY(-50%) translateX(calc(-50% + 16px));


        -webkit-text-stroke: 2px $TitleTextBorderColor;
        font-size: 32px;

        color: $TitleTextColor
    }
    &>.cod {
        text-align: center;
        letter-spacing: 20px; 
        justify-content: center;
        position: relative;
        top: 10px;
        left: 6px;
        color: rgba(205, 205, 205, 1);
        font-size: 45px;
        -webkit-text-stroke: 3px $TitleTextBorderColor;
      }
      
}